<div class="contenedor">

  <style>
    #map {
      width: 100%;
      height: 100%;
      min-height: 350px;
      border: 3px solid white;
      position: relative;
    }

    #sello2{
        text-decoration: none;
    }

    #sello2:active{
        color: white;
    }
  </style>

  <div class="row"style="
    position: absolute;
    top: 10%;
    width: 100%;
    height: 25%;
">

  <span translate="POIDESCRIPTION" class="col-xs-8 col-xs-offset-2"></span>
    <a id="sello2" class="sello textoSello col-xs-8 col-xs-offset-2" translate="SENDEMAILJOB" ng-href="mailto:info@gloeasy.com?subject=Send Business"
      target="_blank" style="margin-bottom: 10%; font-size:2em;"></a></p>

</div>
<div class="row" style="
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60%;
">

  <div id="map"></div>
</div>
</div>
