<div class="contenedor">

  <div class="row">
      <!-- Sellos fondos -->
      <div><img id="fondoSello1" src="modulos/home/img/paris-stamp.png" /></div>
      <div><img id="fondoSello2" src="modulos/home/img/Postmark.png" /></div>
      <div><img id="fondoSello3" src="modulos/home/img/Screen-Shot.png" /></div>

      <!-- Botones home para acceso a secciones principales de la app -->
      <div id="sello5" class="sello textoSello col-xs-8 col-xs-offset-2" translate="PORANIOS" ng-click="main.go('/filtroAnios', main.tipoColeccion);"></div>

      <div id="sello6" class="sello textoSello col-xs-8 col-xs-offset-2" translate="PORTEMAS" ng-click="main.go('/filtroCategorias', main.tipoColeccion);"></div>

      <div id="sello7" class="sello textoSello col-xs-8 col-xs-offset-2" translate="SERIES" ng-click="main.go('/filtroSeries', main.tipoColeccion);"></div>

      <div id="sello8" class="sello textoSello col-xs-8 col-xs-offset-2" translate="OTROSFILTROS" ng-click="main.go('/filtros', main.tipoColeccion);"></div>

  </div>

</div>
