.conjuntoDetalleSello {
  background-color: rgba(255, 255, 255, 0.55);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 0px #888888;
  margin-bottom: 1px;
}

.aniosDetalleSello {
  font-size: 20px !important;
  margin-bottom: 25px;
  background-color: #5B74A8;
  border-color: #29447E;
  background-image: none;
  padding: 10px;
}

.detalleSello {
  font-size: 1.35em;
}


.digitoDetalleSello {
  font-size: 17px !important;
}

.noPropietario {
  opacity: 0.8;
}

.propietario {
  background-color: rgba(255, 255, 255, 0.75);
}

.iconoBadge {
  margin-top: 6px;
}

.iconoMenos {
  margin-top: 9px;
  margin-left: -2px;
}

.anioInfo {
  font-family: 'Roboto-Bold';
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}