<div class="contenedor">

  <div class="row">
      <!-- Sellos fondos -->
      <div><img id="fondoSello1" src="modulos/home/img/paris-stamp.png" /></div>
      <div><img id="fondoSello2" src="modulos/home/img/Postmark.png" /></div>
      <div><img id="fondoSello3" src="modulos/home/img/Screen-Shot.png" /></div>

      <!-- Botones home para acceso a secciones principales de la app -->
      <div id="sello1" class="sello textoSello col-xs-8 col-xs-offset-2" translate="POI" ng-click="main.go('/poi', 'completa');"></div>

      <div id="sello2" class="sello textoSello col-xs-8 col-xs-offset-2" translate="TIENDA" ng-click="main.go('/shopcart', 'parcial');"></div>


  </div>

</div>
