<div class="contenedor">

  <div class="row">
      <!-- Sellos fondos -->
      <div><img id="fondoSello1" src="modulos/home/img/paris-stamp.png" /></div>
      <div><img id="fondoSello2" src="modulos/home/img/Postmark.png" /></div>
      <div><img id="fondoSello3" src="modulos/home/img/Screen-Shot.png" /></div>

      <!-- Botones home para acceso a secciones principales de la app -->
      <div id="sello1" class="sello textoSello col-xs-8 col-xs-offset-2" translate="CATALOGO" ng-click="main.go('/sellos', 'completa');"></div>

      <div id="sello2" class="sello textoSello col-xs-8 col-xs-offset-2" translate="MISSELLOS" ng-click="main.go('/sellos', 'parcial');"></div>

      <div id="sello3" class="sello textoSello col-xs-8 col-xs-offset-2" translate="BUSCAR" ng-click="main.go('/searchby', '');"></div>

      <div id="sello5a" class="sello textoSello col-xs-8 col-xs-offset-2" translate="TIENDA" ng-click="main.go('/shop', '');"></div>

      <div id="sello4" class="sello textoSello col-xs-8 col-xs-offset-2" translate="NOVEDADES" ng-click="main.go('/news', '');"></div>

  </div>

</div>
