<div class="contenedor">

  <div class="row" ng-hide="resultadoFiltro.anios==0">
    <h3>
      <strong>
        <div class="col-xs-8 col-xs-offset-2 text-center">
          <span class="badge btn-primary aniosDetalleSello" ng-bind="resultadoFiltro.anios">
          </span>
        </div>
      </strong>
    </h3>
  </div>



<div class="row" ng-show="resultadoFiltro.anios==0">
    <h3>
      <strong>
        <div class="col-xs-8 col-xs-offset-2 text-center">
          <span class="badge btn-primary aniosDetalleSello" ng-bind="resultadoFiltro.textSearch">
          </span>
        </div>
      </strong>
    </h3>
  </div>

  <div id="containerToMove" infinite-scroll="resultadoFiltro.infiniteScrollFuncion();">
    <div class="row conjuntoDetalleSello" ng-repeat="item in resultadoFiltro.vectorSellosMostrar">
      <div class="col-xs-2 col-xs-offset-1 text-center">
        <div ng-hide="item.cantidad === 0"><img class="imgDetalleSello" ng-src="comun/img/stampapp.png" /></div>
      </div>
      <div class="col-xs-6 text-center">
        <div ng-class="{noPropietario : (item.cantidad === 0)}" ng-click="resultadoFiltro.openModalInfoSello('lg', $index);"><img class="imgDetalleSello" data-ng-src="data:image/png;base64,{{item.ImageB64}}" /></div>
      </div>
      <div class="col-xs-2 detalleSello">
        <div class="row">
          <div class="col-xs-12"><div class="glyphicon glyphicon-plus" ng-click="resultadoFiltro.addSello($index);"></div></div>
          <div class="col-xs-12 digitoDetalleSello"><div class=""><span class="badge iconoBadge" ng-hide="item.cantidad === 0" ng-bind="item.cantidad"></span></div></div>
          <div class="col-xs-12"><div class="glyphicon glyphicon-minus iconoMenos" ng-hide="item.cantidad === 0" ng-click="resultadoFiltro.remSello($index);"></div></div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 text-center anioInfo">
        <div ng-bind="item.Name"></div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 text-center anioInfo">
        <div ng-bind="item.Year"></div>
      </div>
    </div>
  </div>
      <button id="back-to-top" ng-click="resultadoFiltro.returnToTop('#containerToMove');"  class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></button>

</div>
