<div class="contenedor">

  <script type="text/ng-template" id="customTemplate.html">
  <a>
      <!--<img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">-->
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
  </script>

  <!-- <form id="formTemas"> -->
    <!-- <input type="text" ng-model="selected" placeholder="{{filtroCategorias.textoFormulario}}" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0"> -->
    <!-- <input type="text" ng-model="selected" placeholder="{{filtroCategorias.textoFormulario}}" uib-typeahead="state for state in statesWithFlags | filter:$viewValue" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
  </form> -->


  <form id="formSearchBy">
    <!-- <input type="text" ng-model="selected" placeholder="{{filtroCategorias.textoFormulario}}" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0"> -->

    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" ng-model="selected" placeholder="{{searchby.textoFormulario}}" class="form-control" ng-blur="searchby.ocultarSoftkeys();" >
        <span class="input-group-btn">
          <!-- <button class="btn btn-default noBordeBoton" type="button" ng-click="filtroCategorias.limpiarSellosCategoria();"><span class="glyphicon glyphicon-remove"></span></button> -->
          <i id="borradoInputText" class="glyphicon glyphicon-remove" ng-click="searchby.limpiarSellosText();"></i>
        </span>
        <span class="input-group-btn">
          <!--<button ng-disabled="searchby.disableSearch === true" class="btn btn-default noBordeBoton" type="button" ng-click="searchby.buscarSellosPorTexto();"><span class="glyphicon glyphicon-search"></span></button>-->
          <button class="btn btn-default noBordeBoton" type="button" ng-click="searchby.buscarSellosPorTexto();"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </form>


  <!-- <div infinite-scroll="filtroCategorias.infiniteScrollFuncion();"> -->
    <div class="sellosTexto badge col-xs-10 col-xs-offset-1">
      <span translate="RESULTADO"></span>: <span translate="SELLOS" translate-values="{ CATEGORIA: searchby.vectorSellosMostrar.totalSellos}"></span>
      <!-- <span translate="RESULTADO"></span>: <span translate="LIKE_TEXT" translate-values="{ GENDER: 'male' }"></span> -->
    </div>
    <div id="containerToMove" class="row conjuntoDetalleSello" ng-repeat="item in searchby.vectorSellosMostrar">
      <div class="col-xs-2 col-xs-offset-1 text-center">
        <div ng-hide="item.cantidad === 0"><img class="imgDetalleSello" ng-src="comun/img/stampapp.png" /></div>
      </div>
      <div class="col-xs-6 text-center">
        <div ng-class="{noPropietario : (item.cantidad === 0)}" ng-click="searchby.openModalInfoSello('lg', $index);"><img class="imgDetalleSello" data-ng-src="data:image/png;base64,{{item.ImageB64}}" /></div>
      </div>
      <div class="col-xs-2 detalleSello">
        <div class="row">
          <div class="col-xs-12"><div class="glyphicon glyphicon-plus" ng-click="searchby.addSello($index);"></div></div>
          <div class="col-xs-12 digitoDetalleSello"><div class=""><span class="badge iconoBadge" ng-hide="item.cantidad === 0" ng-bind="item.cantidad"></span></div></div>
          <div class="col-xs-12"><div class="glyphicon glyphicon-minus iconoMenos" ng-hide="item.cantidad === 0" ng-click="searchby.remSello($index);"></div></div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 text-center anioInfo">
        <div ng-bind="item.Name"></div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 text-center anioInfo">
        <div ng-bind="item.Year"></div>
      </div>
    </div>

      <button id="back-to-top" ng-click="searchby.returnToTop('#containerToMove');"  class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></button>

  <!-- </div> -->


</div>
