.alturaListaTweet{
	min-height: 48px;
}
.img-container {
	right: 15px;
	left: 15px;
	height: 100%;
	overflow: hidden;
	margin: 0;
	position: absolute;
}

.img-container img {
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	max-width: 100%;
}