<!DOCTYPE html>
<html>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Security-Policy" content="img-src * 'self' data:;default-src gap://ready file://* *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src 'self' 'unsafe-inline' * http://maps.googleapis.com">
        <!--         <meta http-equiv="Content-Security-Policy" content="img-src * 'self' data:; default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://maps.googleapis.com">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <!-- HEADJS -->
        <script type="text/javascript" src="comun/libs/headjs/head.min.js"></script>

        <!-- CARGADOR FICHEROS CSS -->
        <script type="text/javascript" src="comun/js/loaderEstilos.js"></script>

        <style type="text/css">
        /* Oculta Angular cuando toavía no está cargado e inicializado */
        [ng-cloak] {
          display: none;
        }
        </style>

        <title>Stamp App</title>

    </head>

    <body ng-controller="generalController as main" ng-cloak>

        <dc-modal-general dccadena1="{{'DIALOGOS.DATOSLOCALES' | translate}}" ng-show="main.spinner"></dc-modal-general>

        <!-- BARRA DE NAVEGACIÓN -->
        <nav class="navbar navbar-default navbar-fixed-top" ng-show="main.visibilidadCabecera">
          <div class="container">
            <div class="row">
                <div class="col-xs-2 dropdown" ng-show="main.datos.logoUser" ng-click="getSellosUsuario();">
                  <div class="glyphicon glyphicon-user dropdown-toggle text-center logoUser" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  </div>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 220px">
                    <li><a>{{'COLECCION' | translate}}: {{main.idiomaColeccion | translate}}<!--<span class="logoBandera2 flag-icon ng-class: main.banderaColeccion"></span>--></a></li>
                    <li><a>{{'MISSELLOS' | translate}}: {{main.sellosUsuario}}</a></li>
                    <li><a ng-model="main.sellosColeccion">{{'TOTALSELLOS' | translate}}: {{main.sellosColeccion}}</a></li>
                    <li ng-click="main.cambiarIdioma('lg', main.idiomaTextos);"><a>{{'IDIOMA' | translate}}: {{main.idiomaTextos | translate}}<!--<span class="logoBandera2 flag-icon ng-class: main.banderaTextos"></span>-->
                        <span class="selectorIdioma glyphicon glyphicon-triangle-bottom"></span></a></li>
                    
                    <li role="separator" class="divider"></li>
                    <li><a>1.0.0 V.</a></li>
                    <!-- <li>
                      <i id="tooltipMachin" class="fa fa-question-circle" aria-hidden="true" tooltip-placement="bottom" uib-tooltip="Gloeasy es una empresa especializada en tecnologías de la movilidad formada por profesionales con más de 10 años de experiencia en consultoría tecnológica e innovación."></i>
                    </li> -->
                  </ul>
                </div>
                <div class="col-xs-2 glyphicon glyphicon-arrow-left text-right logoUser" ng-show="main.datos.logoFlecha" ng-click="main.go2();"></div>
                <div class="col-xs-8 text-center textoNav" translate="{{main.tituloVentana}}"></div>
                <div class="col-xs-2 logoBandera text-center flag-icon ng-class: main.banderaColeccion"></div>
            </div>
          </div>
        </nav>


        <!-- VISTAS DE LA APLICACIÓN -->
        <div class="container-fluid container-nav rellenoCompleto">
          <div class="" ng-view></div>
        </div>

        <!-- CARGADOR FICHEROS JAVASCRIPT -->
        <script type="text/javascript" src="comun/js/loaderScripts.js"></script>


    </body>

</html>
