#formSearchBy{
  margin-top: 2%;
}

.dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
}

.sellosTexto {
  margin-top: 3%;
  margin-bottom: 5%;
}

#borradoInputText{
  font-size: 22px;
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 7px;
}
