<div class="contenedor">

  <script type="text/ng-template" id="customTemplate.html">
  <a>
      <!--<img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">-->
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
  </script>


		<style>

			#formFiltros{
				margin-top: 2%;
			}
			#borrado{
				font-size: 22px;
				z-index: 100;
				position: absolute;
				top: 7px;
				
			}

		</style>


		<form id="formFiltros">
			<!-- <input type="text" ng-model="selected" placeholder="{{filtroSeries.textoFormulario}}" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0"> -->

			<div ng-repeat="filter in dynamicFilters.conditionList">
				<div class="row">
					<div class="col-xs-5 col-sm-3">
						<div class="form-group">
							<select class="form-control selected_header" ng-model="selectedItem" ng-options="item.name for item in filter.headersList track by item.id" ng-disabled="dynamicFilters.conditionList[$index].disabled == true" ng-change="dynamicFilters.update_filter_first_level($index, selectedItem);">
							    <option value="">{{'SELECT_FILTER' | translate}}</option>

							</select>
						</div>
					</div>
					<div class="col-xs-5 col-sm-3">

						<div class="form-group">
							<select class="form-control selected_value" ng-model="selectedItem2" ng-options="itemSecond.name for itemSecond in filter.headersValues track by itemSecond.id" ng-disabled="dynamicFilters.conditionList[$index].disabled == true" ng-change="dynamicFilters.update_filter_second_level($index, selectedItem2);">
								<option value="">{{'SELECT_OPTION' | translate}}</option>

							</select>
						</div>
					</div>
					<div class="col-xs-2 col-sm-1">

						<div class="form-group">
							<span class="input-group-btn">
								<!--<i ng-show="$index>0" id="borrado" class="glyphicon glyphicon-remove" ng-click="dynamicFilters.removeFilter($index);"></i>-->
								<i id="borrado" class="glyphicon glyphicon-remove" ng-click="dynamicFilters.removeFilter($index);"></i>
							</span>
						</div>
					</div>

				</div><!-- /.col-lg-6 -->

			</div>

			

			<span class="input-group-btn">
				<button ng-show="dynamicFilters.showAdd === true" class="btn-primary btn-lg btn-block" ng-click="dynamicFilters.addNewFilter();" name="add_filter">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				<!--<button class="btn-primary btn-lg btn-block" type="button" ng-click="filtroSeries.buscarSellosCategoria();">
					<span class="glyphicon glyphicon-search"></span>
				</button>-->
			</span>
		</form>


		<!-- <div infinite-scroll="filtroCategorias.infiniteScrollFuncion();"> -->
		<div class="sellosCategoria badge col-xs-10 col-xs-offset-1">
			<span translate="RESULTADO"></span>: <span ng-show="dynamicFilters.totalSellosMostrar<dynamicFilters.searchLimit" translate="SELLOS" translate-values="{ CATEGORIA: dynamicFilters.totalSellosMostrar}"></span>

			<span ng-show="dynamicFilters.totalSellosMostrar>=dynamicFilters.searchLimit" translate="SELLOS_TOO_MUCH"></span>
			<!-- <span translate="RESULTADO"></span>: <span translate="LIKE_TEXT" translate-values="{ GENDER: 'male' }"></span> -->
		</div>
		<div id="containerToMove" class="row conjuntoDetalleSello" ng-repeat="item in dynamicFilters.vectorSellosMostrar">
			<div class="col-xs-2 col-xs-offset-1 text-center">
				<div ng-hide="item.cantidad === 0"><img class="imgDetalleSello" ng-src="comun/img/stampapp.png" /></div>
			</div>
			<div class="col-xs-6 text-center">
				<div ng-class="{noPropietario : (item.cantidad === 0)}" ng-click="dynamicFilters.openModalInfoSello('lg', $index);"><img class="imgDetalleSello" data-ng-src="data:image/png;base64,{{item.ImageB64}}" /></div>
			</div>
			<div class="col-xs-2 detalleSello">
				<div class="row">
					<div class="col-xs-12"><div class="glyphicon glyphicon-plus" ng-click="dynamicFilters.addSello($index);"></div></div>
					<div class="col-xs-12 digitoDetalleSello"><div class=""><span class="badge iconoBadge" ng-hide="item.cantidad === 0" ng-bind="item.cantidad"></span></div></div>
					<div class="col-xs-12"><div class="glyphicon glyphicon-minus iconoMenos" ng-hide="item.cantidad === 0" ng-click="dynamicFilters.remSello($index);"></div></div>
				</div>
			</div>
			<div class="col-xs-8 col-xs-offset-2 text-center anioInfo">
				<div ng-bind="item.Name"></div>
			</div>
			<div class="col-xs-8 col-xs-offset-2 text-center anioInfo">
				<div ng-bind="item.Year"></div>
			</div>
		</div>

  <button id="back-to-top" ng-click="dynamicFilters.returnToTop('#containerToMove');"  class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></button>


	</div>