<div class="contenedor">


  <div class="img-container" ng-show="!news.isOnline">
    
    <img src="modulos/news/img/wifi_limitado.png">
  </div>

  <div id="containerToMove" class="row" ng-show="news.isOnline">

    <div ng-repeat="tweet in ArrayOfTwitts track by $index">
      <ul class="list-group">
        <li class="list-group-item alturaListaTweet">
          <img class="col-xs-2" ng-src="{{trustSrc(tweet.user.profile_image_url)}}" />
          <span class="col-xs-10">{{tweet.user.screen_name}}</span>
        </li>
        <!-- <li class="list-group-item">Name: {{tweet.user.screen_name}}</li> -->
        <li ng-bind-html=tweet.text class="list-group-item"></li>
        <li class="list-group-item text-center">{{tweet.created_at}}</li>
      </ul>
    </div>

  </div>
    <button id="back-to-top" ng-click="news.returnToTop('#containerToMove');"  class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></button>


</div>
