#sello5 {
  background-image: url(../img/sello5.jpg);
}

#sello6 {
  background-image: url(../img/sello6.jpg);
}

#sello7 {
  background-image: url(../img/sello7.jpg);
}

#sello8 {
  background-image: url(../img/sello8.jpg);
}
