#tooltipMachin{
  font-size: 25px;
  color: #37474F;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#spinnerCargaDatos{
  font-size: 200px;
  color: #37474F;
  display: inline-block;
  width: 100%;
  text-align:center;
  margin-top: 25%;
}

#textoCargaDatos{
  text-align: center;
  margin-top: 20%;
  font-size: 1.5em;
  color: #37474F;
  font-weight: bold;
}

#textoCargaDatosGloeasy{
  text-align: center;
  font-size: 1.5em;
  color: #37474F;
  font-weight: bolder;;
}


#fondoSello0{
  position: absolute;
  height: 115px;
  margin-top: -20px;
  margin-left: -30px;
}

#fondoSello3b{
  position: absolute;
  height: 85px;
  margin-top: 388px;
  margin-left: 275px;
  transform: rotate(10deg);
}

#fondoSelloDiv5{
  position: absolute;
  top: 27%;
  left: -5%;
}

#fondoSello5{
  width: 100px;
}

#fondoSelloDiv6{
  position: absolute;
  top: 20%;
  left: 35%;
  transform: rotate(-15deg);
}

#fondoSello6{
  width: 100px;
}

#fondoSelloDiv7{
  position: absolute;
  right: 8px;
  transform: rotate(-5deg);
}

#fondoSello7{
  width: 97px;
}

#fondoSelloDiv8{
  position: absolute;
  right: 10px;
  top: 35%;
  transform: rotate(10deg);
  height: 62px;
}

#fondoSello8{
  width: 100px;
}

#fondoSelloDiv9{
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(-10deg);
  height: 68px;
}

#fondoSello9{
  width: 100px;
}

#fondoSelloDiv10{
  position: absolute;
  bottom: 5%;
  transform: rotate(-5deg);
  left: 10px;
}

#fondoSello10{
  width: 115px;
}

#fondoSelloDiv11{
  position: absolute;
  bottom: 3%;
  right: 5%;
  transform: rotate(10deg);
}

#fondoSello11{
  width: 122px;
}

.sello2{
    height: 80px;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    box-shadow: 1px 0px 12px 1px rgba(0,0,0,0.5);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    margin-top: 10%;
}
