<div class="contenedor">

  <div class="row">
    <!--
    <div><img id="fondoSello1" src="modulos/home/img/paris-stamp.png" /></div>
    <div><img id="fondoSello2" src="modulos/home/img/Postmark.png" /></div>
    <div><img id="fondoSello3" src="modulos/home/img/Screen-Shot.png" /></div>
    -->

    <div id="selectorAnios" class="text-center">
      <div class="btn-group">

        <label class="btn btn-default tamIncreased" ng-model="filtrosAnios.radioModel" uib-btn-radio="1">1</label>
        <label class="btn btn-default tamIncreased" ng-model="filtrosAnios.radioModel" uib-btn-radio="5">5</label>
        <label class="btn btn-default tamIncreased" ng-model="filtrosAnios.radioModel" uib-btn-radio="10">10</label>
        <label class="btn btn-default tamIncreased" ng-model="filtrosAnios.radioModel" uib-btn-radio="25">25</label>
        <label class="btn btn-default tamIncreased" ng-model="filtrosAnios.radioModel" uib-btn-radio="50">50</label>
        <label class="btn btn-default tamIncreased" ng-model="filtrosAnios.radioModel" uib-btn-radio="75">75</label>

      </div>
    </div>
  </div>

  <div class="row">

    <!--span ng-repeat="rango in filtrosAnios.getRango(filtrosAnios.rangoAnios) track by $index">
      <button class="col-xs-8 col-xs-offset-2 btn btn-primary resultAnioFiltro" type="button" ng-click="filtrosAnios.infoDato($index, (filtrosAnios.anios.inicio + ($index*filtrosAnios.radioModel)), ((filtrosAnios.anios.inicio + filtrosAnios.radioModel) + (($index+1) < filtrosAnios.getRango(filtrosAnios.rangoAnios).length ? ($index*filtrosAnios.radioModel) : (filtrosAnios.anios.fin - (filtrosAnios.anios.inicio + filtrosAnios.radioModel)) )));">
        {{(filtrosAnios.anios.inicio + ($index*filtrosAnios.radioModel)) + ' - ' + ((filtrosAnios.anios.inicio + filtrosAnios.radioModel) + (($index+1) < filtrosAnios.getRango(filtrosAnios.rangoAnios).length ? ($index*filtrosAnios.radioModel) : (filtrosAnios.anios.fin - (filtrosAnios.anios.inicio + filtrosAnios.radioModel)) ))}}<span class="badge">4</span>
      </button>
    </span-->

    <span ng-repeat="rango in filtrosAnios.vectorAnios">
      <button class="col-xs-8 col-xs-offset-2 btn btn-primary resultAnioFiltro" type="button" ng-hide="filtrosAnios.vectorSellosAnio[$index] === 0" ng-click="main.go('/resultadoFiltro', main.tipoColeccion, [[rango], filtrosAnios.radioModel, $index,'anios','null']);">
        {{rango}}<span class="badge">{{filtrosAnios.vectorSellosAnio[$index]}}</span>
      </button>
    </span>

    <!-- <span ng-repeat="rango in filtrosAnios.vectorAnios">
      <button class="col-xs-8 col-xs-offset-2 btn btn-primary resultAnioFiltro" type="button" ng-click="main.go('/resultadoFiltro', main.tipoColeccion, [rango]);">
        {{rango.rangoTexto}}<span class="badge">{{rango.totalSellos}}</span>
      </button>
    </span> -->

    <!-- <span ng-repeat="indice in filtrosAnios.anioRangoMostrar">
      <button class="col-xs-8 col-xs-offset-2 btn btn-primary resultAnioFiltro" type="button" ng-hide="indice.length === 0" ng-click="main.go('/resultadoFiltro', main.tipoColeccion, [indice[0].rango, filtrosAnios.radioModel, $index,'anios','null']);">
        {{indice[0].rango}}<span class="badge">{{indice.length}}</span>
      </button>
    </span> -->

  </div>
</div>
