<div ng-controller="generalController">
  <div class="cerrarVentana col-xs-offset-10 col-xs-2 text-right glyphicon glyphicon-remove" ng-click="ok()"></div>
  <div class="modal-header">
    <h4 class="modal-title text-center">{{'IDIOMAS.Select' | translate}}</h4>
  </div>

  <div class="modal-body">

       <div ng-repeat="lang in langsAvailableObjArray track by $index">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-2" ng-click="changeLanguage(lang.id)"><span class="logoBandera3 flag-icon {{lang.flagIcon}}"></span><span class="mostrarIdiomas">{{lang.text}}</span></div>
        </div>

      </div>


    
    <!--<div class="row">
      <div class="col-xs-10 col-xs-offset-2"><span class="logoBandera3 flag-icon flag-icon-gb"></span><span class="mostrarIdiomas">Inglés</span></div>
    </div>-->

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()">{{'CERRAR' | translate}}</button>
  </div>
</div>
