<div>
  <div class="cerrarVentana col-xs-offset-10 col-xs-2 text-right glyphicon glyphicon-remove" ng-click="ok()"></div>
  <div class="modal-header">
    <h4 class="modal-title text-center tituloDescSello" ng-bind="items.Name"></h4>
  </div>

  <div class="modal-body">

    <div class="center-block" style="margin-bottom: 5%">
      <div style="text-align: center">

      <a class="btn btn-social-icon btn-lg btn-twitter" ng-click="shareWithSocial(items,0)">
        <span class="fa fa-twitter"></span>
      </a>

      <a class="btn btn-social-icon btn-lg btn-facebook" ng-click="shareWithSocial(items,1)">
        <span class="fa fa-facebook"></span>
      </a>

      <a class="btn btn-social-icon btn-lg btn-instagram" ng-click="shareWithSocial(items,2)">
        <span class="fa fa-instagram"></span>
      </a>

      <a class="btn btn-social-icon btn-lg btn-google" ng-click="shareWithSocial(items,3)">
        <span class="glyphicon glyphicon-envelope"></span>
      </a>

      <a class="btn btn-social-icon btn-lg" ng-click="shareWithSocial(items,-1)">
        <span class=" glyphicon glyphicon-option-horizontal"></span>
      </a>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2"><img class="imgDescSello" data-ng-src="data:image/png;base64,{{items.ImageB64}}" /></div>
      <div class="col-xs-1" ng-hide="items.Coleccion === 0"><img class="imgDetalleSello imgDescSelloStamp" ng-src="comun/img/stampapp.png" /></div>
      <div class="col-xs-1" ng-hide="items.Coleccion === 0"><span class="badge iconoBadge" ng-bind="items.Coleccion"></span></div>
    </div>

    <div class="row cuerpoDescTabla cuerpoDescSello">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.ANIO">Año</div>
        <div><a ng-click="searchByyear(items.Year);">{{::items.Year}}</a></div>
      </div>
      <div class="col-xs-6">
        <div class="tituloDescSello" translate="INFOSELLO.FECHA">Fecha de emisión</div>
        <div>{{::items.Issued_on}}</div>
      </div>
    </div>

    <div class="row cuerpoDescTabla fondoImpar">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.PRECISION">Precisión</div>
        <div>{{::items.Accuracy}}</div>
      </div>
      <div class="col-xs-6">
        <div class="tituloDescSello" translate="INFOSELLO.PUNTUACION">Puntuación</div>
        <div>{{::items.Score}}</div>
      </div>
    </div>

    <div class="row cuerpoDescTabla">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.TIRAJE">Tiraje</div>
        <div>{{::items.Print_run}}</div>
      </div>
      <div class="col-xs-6">
        <div class="tituloDescSello" translate="INFOSELLO.VALOR">Valor</div>
        <div>{{::items.FaceValue}}</div>
      </div>
    </div>

    <div class="row cuerpoDescTabla fondoImpar">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.COLORES">Colores</div>
        <div>{{::items.Colors}}</div>
      </div>
      <div class="col-xs-6">
        <div class="tituloDescSello" translate="INFOSELLO.EMISION">Emisión</div>
        <div>{{::items.Emission}}</div>
      </div>
    </div>

    <div class="row cuerpoDescTabla">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.ALTURA">Altura</div>
        <div>{{::items.Height}}</div>
      </div>
      <div class="col-xs-6">
        <div class="tituloDescSello" translate="INFOSELLO.ANCHURA">Anchura</div>
        <div>{{::items.Width}}</div>
      </div>
    </div>

    <div class="row cuerpoDescTabla fondoImpar">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.FORMATO">Formato</div>
        <div>{{::items.Format}}</div>
      </div>
      <div class="col-xs-6">
        <div class="tituloDescSello" translate="INFOSELLO.MONEDA">Moneda</div>
        <div>{{::items.Currency}}</div>
      </div>
    </div>

    <div class="row cuerpoDescTabla">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.SERIES">Series</div>
        <div>{{::items.Series}}</div>
      </div>
      <div class="col-xs-6">
        <div class="tituloDescSello" translate="INFOSELLO.TEMAS">Temas</div>
        <div><a ng-click="searchByTheme(items.Themes);">{{::items.Themes}}</a></div>
      </div>
    </div>

    <div class="row cuerpoDescTabla fondoImpar">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.IMPRESION">Impresión</div>
        <div>{{::items.Printing}}</div>
      </div>
      <div class="col-xs-6">
        <div class="tituloDescSello" translate="INFOSELLO.PERFORACION">Perforación</div>
        <div>{{::items.Perforation}}</div>
      </div>
    </div>

    <div class="row cuerpoDescTabla">
      <div class="col-xs-11 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.DESCRIPCION">Descripción</div>
        <div>{{::items.Description}}</div>
      </div>
    </div>

    <div class="row cuerpoDescTabla fondoImpar">
      <div class="col-xs-11 col-xs-offset-1">
        <div class="tituloDescSello" translate="INFOSELLO.CODIGOCATALOGO">Código de catálogo</div>
        <div>{{::items.Catalog_codes}}</div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">{{'CERRAR' | translate}}</button>
  </div>
</div>

<!--div ng-controller="resultadoFiltroController">
  <div class="modal-header">
    <h4 class="modal-title text-center" ng-bind="items.nombre"></h4>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1"><img ng-src="{{items.imagen}}" /></div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">Año: 1954</div>
          <div class="col-xs-12">Color: Rojo</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Cerrar</button>
  </div>
</div-->

<!--div class="ui card">
  <div class="image">
    <img ng-src="{{items.imagen}}">
  </div>

  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>

  <div class="extra content">
    <a class="badge">
      22 Friends
    </a>
  </div>
</div-->
