<style type="text/css">
  
  .alturaListaTweet{
  min-height: 48px;
}
.img-container {
  right: 15px;
  left: 15px;
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: absolute;
}

.img-container img {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
}
</style>

 <div class="contenedor">


  <div class="img-container" ng-show="!shopcart.isOnline">
    <img src="modulos/news/img/wifi_limitado.png">
  </div>

  <div class="row" ng-show="shopcart.isOnline">

   <div ng-repeat="apk in shopcart.apksArray track by $index">
      <ul class="list-group">
        <li class="list-group-item alturaListaTweet">
          <img class="col-xs-2" ng-src="{{apk.icon}}" />
          <span class="col-xs-10">{{apk.title}}</span>
        </li>
        <!-- <li class="list-group-item">Name: {{tweet.user.screen_name}}</li> -->
        <li ng-bind-html=apk.summary class="list-group-item"></li>
        <li class="list-group-item text-center"><a href="{{apk.url}}">Descarga</a></li>
      </ul>
    </div>

  </div>

</div>
