.cerrarVentana {
  margin-top: 10px;
  margin-bottom: -10px;
}

.tituloDescSello {
  font-family: 'Roboto-Bold';
}

.imgDescSelloStamp {
  margin-left: -15px;
}

.imgDescSello {
  width: 100%;
}

.cuerpoDescSello {
  margin-top: 15px;
}

.cuerpoDescTabla {
  border-top: 1px #BFBEBE solid;
  padding-top: 2px;
  padding-bottom: 2px;
}

.fondoImpar{
  background-color: rgba(128, 128, 128, 0.1);
}
