@font-face {
   font-family: 'Roboto', sans-serif;
   src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
   font-family: 'Roboto-Bold';
   src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
   font-family: 'Roboto-Light';
   src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
   font-family: 'Roboto-Medium';
   src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
   font-family: 'Roboto-Italic';
   src: url(../fonts/Roboto-Italic.ttf);
}

html, body {
    height: 100%;
    font-family: 'Roboto';
}

.noScrollModal{
  overflow: hidden;
}

.logoUser {
  color: #777;
  padding: 15px 15px;
  font-size: 18px;
}

.rellenoCompleto {
    background-image: url(../img/concrete_seamless.png);
    min-height: 100%;
}

.container-nav {
  padding-top: 50px;
}

.textoNav {
  font-size: 1.25em;
  font-weight: bolder;
  color: #666666;
  padding-top: 10px;
  font-family: 'Roboto-Bold';
}

.logoBandera {
  margin-top: 11px;
  font-size: 25px;
  /*height: 25px;
  background-image: url(../libs/flag-icon-css/flags/1x1/es.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
}

.logoBandera2 {
  margin-left: 5px;
  font-size: 18px;
}

.logoBandera3 {
  font-size: 30px;
}

.selectorIdioma{
  font-size: 12px;
  margin-left: 5px;
}

.mostrarIdiomas{
  font-size: 25px;
  margin-left: 20px;
}

.sello {
  height: 100px;
  text-align: center;
  padding-top: 18px;

  border-image: url(../../modulos/home/img/stamp-border.png) 8 round;
	border-width: 8px;
	border-style: solid;
  box-shadow: 1px 0px 12px 1px rgba(0,0,0,0.5);
  background-color: grey;

  background-repeat: no-repeat;
  background-size: 100%;

  color: white;

  margin-top: 10%;
}

.textoSello {
  font-size: 2.5em;
}

.noBordeBoton{
  outline: none !important;
}

#sello1 {
  background-image: url(../img/sello1.jpg);
}

#sello2 {
  background-image: url(../img/sello2.jpg);
}

#sello3 {
  background-image: url(../img/sello3.jpg);
}

#sello4 {
  background-image: url(../img/sello4.jpg);
  margin-bottom: 28px;
}

#fondoSello1 {
  position: absolute;
  height: 115px;
  margin-top: 2px;
  margin-left: 2px;
}

#fondoSello2 {
  position: absolute;
  height: 85px;
  margin-top: 253px;
  margin-left: 25px;
  transform: rotate(15deg);
}

#fondoSello3 {
  position: absolute;
  height: 100px;
  margin-top: 388px;
  margin-left: 275px;
  transform: rotate(10deg);
}

#spinnerCargaFullScreen{
  width: 100%;
  height: 100%;
  background-color: rgba(232, 231, 231, 0.95);
  position: absolute;
  z-index: 1100;
}

#textoSpinnerCargaFullScreen{
  position: relative;
  top: 45%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

/* Movimiento de entrada para las vistas */
div[ng-view].ng-enter {
    -webkit-animation: fadeIn 1.0s;
    animation: fadeIn 1.0s;
}


div[ng-view].ng-leave.ng-leave-active {
    -webkit-animation: fadeOut 1.0s;
    animation: fadeOut 1.0s;
}

/*
.my-element.ng-enter {
  animation: fadeIn 1s;
}

.my-element.ng-leave {
  animation: fadeOut 1s;
}

.my-element.ng-hide-remove {
    -webkit-animation: bounceIn 2.5s;
    animation: bounceIn 2.5s;
}

.my-element.ng-hide-add {
    -webkit-animation: flipOutX 2.5s;
    animation: flipOutX 2.5s;
    display: block !important;
}
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
