.tamIncreased {
  width: 50px;
}

.resultAnioFiltro {
  background-color: #5B74A8;
  border-color: #29447E;
  background-image: none;
  margin-top: 20px;
  height: 55px;
}

.btn .badge {
  left: 20px;
  color: #29447E;
}
