<div ng-show="mainInit.spinnerCarga">
  <!-- Sellos fondos -->
  <div><img id="fondoSello0" src="modulos/home/img/paris-stamp.png" /></div>
  <div><img id="fondoSello2" src="modulos/home/img/Postmark.png" /></div>
  <div><img id="fondoSello3b" src="modulos/home/img/Screen-Shot.png" /></div>

  <!-- <div><img id="fondoSello4" src="modulos/init/img/sello1.jpg" /></div> -->
  <div id="fondoSelloDiv5" class="sello2"><img id="fondoSello5" src="modulos/init/img/sello2.jpg" /></div>
  <div id="fondoSelloDiv6" class="sello2"><img id="fondoSello6" src="modulos/init/img/sello3.jpg" /></div>
  <div id="fondoSelloDiv7" class="sello2"><img id="fondoSello7" src="modulos/init/img/sello4.jpg" /></div>
  <div id="fondoSelloDiv8" class="sello2"><img id="fondoSello8" src="modulos/init/img/sello5.png" /></div>
  <div id="fondoSelloDiv9" class="sello2"><img id="fondoSello9" src="modulos/init/img/sello6.png" /></div>
  <div id="fondoSelloDiv10" class="sello2"><img id="fondoSello10" src="modulos/init/img/sello7.png" /></div>
  <div id="fondoSelloDiv11" class="sello2"><img id="fondoSello11" src="modulos/init/img/sello8.png" /></div>

  <p id="textoCargaDatosGloeasy">
    www.Gloeasy.com
  </p>
  <!-- <i id="tooltipMachin" class="fa fa-question-circle" aria-hidden="true" tooltip-placement="bottom" uib-tooltip="Gloeasy es una empresa especializada en tecnologías de la movilidad formada por profesionales con más de 10 años de experiencia en consultoría tecnológica e innovación."></i> -->
  <div>
    <i id="spinnerCargaDatos" class="fa fa-gear fa-spin" ng-show="true"></i>
  </div>
  <p id="textoCargaDatos" class="blink_me" translate="DIALOGOS.INICIALIZANDO"></p>
  <!-- <div class="col-sm-4"><uib-progressbar class="progress-striped active" max="6" value="mainInit.cont" type="primary"><i>{{mainInit.cont}} / 6</i></uib-progressbar></div> -->
</div>
