#sello1 {
  background-image: url(../img/sello1.jpg);
}

#sello2 {
  background-image: url(../img/sello2.jpg);
}

#sello3 {
  background-image: url(../img/sello3.jpg);
}

#sello4 {
  background-image: url(../img/sello4.jpg);
}

#sello5a {
  background-image: url(../img/sello5.jpg);
}

#fondoSello2 {
  position: absolute;
  height: 85px;
  margin-top: 253px;
  margin-left: 25px;
  transform: rotate(15deg);
}

#fondoSello3 {
  position: absolute;
  height: 100px;
  margin-top: 388px;
  margin-left: 275px;
  transform: rotate(10deg);
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
}

@media only screen and (max-device-width: 760px) and (orientation: landscape) {
  .sello {
    margin-top: 5%;
  }
  #fondoSello1 {
    position: absolute;
    height: 115px;
    margin-top: 2px;
    margin-left: 30px;
  }

  #fondoSello2 {
    position: absolute;
    height: 85px;
    margin-top: 253px;
    margin-left: 80px;
    transform: rotate(15deg);
  }

  #fondoSello3 {
    position: absolute;
    height: 90px;
    margin-top: 390px;
    margin-left: 272px;
    transform: rotate(10deg);
  }
}
